.col-md-12{
    padding: 0;
}
.navbar .form-control {
    font-size: 14px;
    width: 280px;
    background-color: #eef3f8;
    border-color: white;
  }
  .navbar .input-group-text {
    background-color: #eef3f8;
    border-color: white;
  }
  
  .navbar-nav {
    margin-left: auto;
    min-height: 52px;
  }
  .navbar-nav .nav-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 18px;
    text-align: center;
  }
  .navbar-nav .text-nav {
    align-items: center;
    font-size: 12px;
    line-height: 18px;
  }
  .dropdown-menu .list-group-item:hover {
    background-color: #f3f2ef;
  }
  .profile {
    text-decoration: none;
    color: black;
  }
main{
    top: 0;
    margin-top: 76px;
}
.sidebar{
    margin-left: 5%;
    width: 240px;
}
.sidebar_categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.sidebar_categories .sidebar_category {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-left: 10px;
  }
.sidebar_categories .sidebar_category span {
    margin-left: 20px;
    cursor: pointer;
    display: flex;
}
.post{
    border-radius: 8px;
}
.Text h3.Start{
    display: inline-block;
}
.Text p.Start{
    opacity: 0.5;
    display: inline;
    margin-left:220px ;
    right: 0;
}
footer {
    padding: 0 10px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: #f3f2ef;
  }
  
.footer-content {
    margin-bottom: 10px;
    text-align: center;
}
  
.footer-text {
    display: inline-block;
    margin-right: 8px;
}
  
.footer-last_text p {
    color: blue;
    font-size: 12px;
  }
  
footer a {
    color: #606060;
    text-decoration: none;
    font-size: 13px;
    line-height: 0.8rem;
}
footer a:hover{
    text-decoration: underline;
}
.sub-group{
    position:sticky;
    position: -webkit-sticky;
    top: 15px;
}

