.my-avartar{
    border-radius: 50%;
    font-size: 13.33px;
    width: 152px;
    height: 152px;
}
.identity-name{
    color: black;
    font-size: 24px;
}
.profile{
    text-decoration: none;
    color: black;
}
.avartar{
    background-position: 50% 50%;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile:hover p{
    text-decoration: underline;
}

.text-address{
    font-size: 14px;
    color: rgb(55, 110, 110);
}
.identity-name{
    line-height: 17px;
    font-weight: 500;
}

.btn-topic{
    background-color: white;
    height: 32px;
    display: inline-flex;
    align-items: center;
    border-radius: 28px;
    border: 1px solid rgb(240, 230, 230);
    line-height: 8px;
    padding: 6px 16px;
    font-weight: 600;
    text-align: center;
}

.btn-not{
    background-color: white;
    height: 32px;
    display: inline-flex;
    align-items: center;
    border: 1px solid white;
    line-height: 8px;
    padding: 6px 16px;
    font-weight: 600;
    text-align: center;
}
.text-profile a{
    text-decoration: none;
}

.text-profile a:hover .btn-topic{
    background-color: rgb(240, 230, 230);
}

.past-position a{
    text-decoration: none;
}
.past-position a:hover .btn-topic{
    background-color: rgb(240, 230, 230);
}
.past-position a:hover .btn-not{
    background-color: rgb(240, 230, 230);
}

.bi-chevron-down{
    font-size: 20px;
    line-height: 28px;
}
.text-strength{
    color: #c79191;
    font-size: 20px;
    line-height: 28px;
}

.img-promote{
    width: 100%;
}

.my-dashboard .dashboard{
    text-decoration: none;
}
.my-dashboard a:hover {
    text-decoration: underline;
}
.text-mode{
    text-decoration: none;
    color: #000; 
    font-size: 14px;
    font-weight: 600;
}
.row-news ul a{
    text-decoration: none;
    color: #000;
}

.row-news .content-new:hover{
    background-color: rgb(197, 218, 216) ;
}
.row-news .content-new:hover a{
    text-decoration: underline;
}

.img-promote{
    width: 64px;
    height: 64px;
}

.name-promote:hover {
    text-decoration: underline;
}

  
.sub-group{
    position:sticky;
    position: -webkit-sticky;
    top: 15px;
}

.my-news a{
    text-decoration: none;
    color: rgb(71, 105, 101);
}